/* common.css */
.hidden {
   display:none;
}

body{
   width: 100vw;
   height: 100vh;
   padding: 5px;
}

header, main {
   margin-bottom: 10px;
}

h1 {
   font-size: 32px;
   font-weight: bold;
}

h2{
   font-size: 18px;
   font-weight: bold;
}